html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.background {
    background-color: #121212;
    height: auto;
    color: rgb(0, 0, 0);
    padding: 20px;
    min-height: 100vh;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.loading, .no-productos {
    text-align: center;
    font-size: 1.2rem;
}

.productos {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.producto {
    background-color: #222;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.producto img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    font-weight: 500;
}

.producto p {
    font-size: 1.1rem;
    margin-bottom: 12px;
}

button {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #333;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.actions {
    text-align: center;
    margin-top: 20px;
}

.ir-carrito-btn, .ir-iventario-btn {
    margin: 10px;
    padding: 10px 30px;
    font-size: 1rem;
}