<div class="background">
  <h2>Carrito de Compras</h2>

  <div *ngIf="carrito.length === 0" class="empty-cart">
    <p>El carrito está vacío.</p>
  </div>

  <div *ngIf="carrito.length > 0">
    <table class="carrito-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of carrito; let i = index">
          <td>{{ producto.nombre }}</td>
          <td>${{ producto.precio }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>
            <button class="agregar" (click)="agregarMas(i)" [disabled]="!isProductInStock(producto.id)">Agregar más</button>
            <button class="eliminar" (click)="eliminarProducto(producto.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="descargar" (click)="descargarCarrito()">Descargar Recibo</button>
  </div>

  <div class="actions">
    <button (click)="irAlCatalogo()" class="volver-catalogo">Regresar al Catálogo</button>
  </div>
</div>