body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.background {
  background-color: #121212;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

h2 {
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin: 20px 0;
}

h3 {
  color: #ffffff;
  font-family: 'Inter', sans-serif;

}

.form-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto 20px auto;
  color: #ffffff;
  font-family: 'Inter', sans-serif;

}

.form-container div {
  margin-bottom: 15px;
}

.form-container label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

.form-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #222;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

.form-container input::placeholder {
  color: #bbbbbb;
}

button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555555;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Inter', sans-serif;
}

.product-table th {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  text-align: left;
}

.product-table td {
  border-bottom: 1px solid #444;
  padding: 10px;
}

.product-table button {
  padding: 8px 12px;
  margin-right: 5px;
}

.actions {
  text-align: center;
  margin-top: 20px;
}

.actions button {
  padding: 12px 20px;
  font-size: 16px;
}